:root {
    --background-dark: #2d2d2d;
    --primary-color: #FF7029;
    --white-color: white;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-dark);
    color: var(--primary-color)
}

header {}

main {}

footer {}

#h1titel {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.h2titel {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr {
    margin-top: 1rem;
}

a {
    color: var(--background-dark);
    text-decoration: none;
}

aside {
    width: 10%;
    padding: 1rem;
    float: left;
    word-wrap: break-word;
    color: black;
    background-color: #4548FF;
}

.sidebartitle {
    font-size: 20px;
    font-weight: bold;
}

#sidebarlist {
    list-style-type: none;
}

.headercontainer {
    background-color: var(--primary-color);
    color: var(--background-dark);
    display: flex;
    align-items: center;
}

header div img {
    width: 70px;
    margin: 20px 0 20px 20px;
}

#headertext {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #232575;
}

.dropdown {
    position: relative;
    background-color: #806354;
}

dropdownlist {
    position: relative;
}

.Hersteller {
    display: none;
    position: absolute;
}

.Hersteller a {
    background-color: #6AAA54;
    display: block;
    padding: 12px 16px;
}

.Hersteller a:hover {
    background-color: #5FFF29;
    text-decoration: none;
    display: block;
}

.dropdown:hover .Hersteller {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4548FF;
}

.maincontainer {
    display: flex;
}

.dropbtn {
    color: black;
    background-color: transparent;
    padding: 16px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.centralbox {
    width: 90%;
    color: rgb(222, 222, 222);
    padding: 1rem;
    /* text-align: center;   */
}

.fotobox {
    width: 70%;
    height: 50%;
    border-color: red;
    margin: 0 auto;
    position: relative;
}

.footerbox {
    text-align: center;
    padding: 1em;
}

.gallerie {
    max-width: 80%;
    max-height: 70%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position von  "next button" rechts */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Wenn hover, mit schwarzen Hintergrund und ein bisschen durchscheinen */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}