:root {
    --background-dark: #081B21;
    --background-light: #fffefc;
    --primary-color: #67BED9;
    --secondary-color: #D85727;
    --tertiary-color: #F08756;
    --color-logo: #F2CC00;
    --primary-light-color:#BDE3EF;
    --secondary-dark-color: #AC4520;
}

@font-face {
  font-family: 'YsabeauInfant';
  src: url('fonts/YsabeauInfant-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Definiert das Gewicht von Light (100) bis Bold (900) */
  font-style: normal; /* Normale Schrift */
}

@font-face {
  font-family: 'YsabeauInfant';
  src: url('fonts/YsabeauInfant-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Definiert das Gewicht von Light (100) bis Bold (900) */
  font-style: italic; /* Kursivschrift */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-light);
    color: var(--background-dark);
    font-family: 'YsabeauInfant', sans-serif;
    font-weight: 500; /* Normales Gewicht */
}

input, select, select option, textarea, button {
    font-family: inherit; /* erbt die Schrift von body oder * */
}

.headertopcontainer {
    height: 2.5rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.1rem;
    align-items: center;
}

.myNavbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 1.3rem;
    height: 90px;
    padding: 0 40px;

    background-color: var(--background-light);
    position: relative;
}

.nav-zone {
    display: flex;
    align-items: center;
}

.nav-right {
    justify-content: flex-end;
    gap: 48px;
}


/* Logo */
.nav-logo {
    justify-self: center;
}

.nav-logo img {
    width: 300px;
    max-height: 90%;
    max-width: 50vw;
}

/* Links & Icons */
.nav-left {
    justify-self: start;
}
.nav-internallinks {
    display: flex;
    gap: 20px;
    margin-left:
    30px;
}
.nav-icons {
    display: flex;
    gap: 30px;
    justify-self: end;
    margin-left: 30px;
}

.icon svg{
    width: 30px;
    height: 30px;
    gap: 10px;
    fill: var(--background-dark);
}


/* Dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown span {
    font-size: 1.5rem;
    font-weight: 500;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    background-color: var(--background-light);
    list-style: none;
    padding: 10px 0;
    margin-top: 0;
    z-index: 9999;
}

.dropdown-menu li {
    padding: 8px 16px;
}
.dropdown-menu li a {
    text-decoration: none;
    color: var(--background-dark);
    background-color: var(--background-light);
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a:hover{
    font-weight: bold;
}

/* Icons */
.icon {
    font-size: 20px;
    cursor: pointer;
}

/* Burger Icon */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-left: 40px;
}

/* muss man nicht nur in Mobile version auf none setzen sondern auch in der Desktop vers. */
.mobile-menu {
        display: none;
}


/* === MAIN ===*/
.intro h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
}

.intro h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
}

.intro h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
}

.intro p, .introPage p {
  font-size: 1.5rem;    /* Normale Textgröße */
  margin-bottom: 0.5rem;
  text-align: center;
  margin:0%;
}
.dividingText {
    padding: 0.4rem 0;
}

.maincontainer {
    background-color: #8CCFE3;
    display: flex;
    height: calc(100vh - 2.5rem - 90px);
    display: flex;
    justify-content: space-between;
}

.mainLeftBox {
    background-color: #8CCFE3;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-wrapper {
  width: clamp(300px, calc(100vw - 6.5rem - 90px), 800px);
  height: clamp(240px, calc(100vh - 12.5rem - 90px), 600px);
  margin: 5rem 2rem;
  border-radius: 24px;
  overflow: hidden; /* extrem wichtig */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-group {
    margin-top: 1rem;
}

.btnlike {
  display: inline-block;       /* important for anchors to behave like buttons */
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 9999px;
  background-color: var(--color-logo);
  color: var(--background-dark);
  text-decoration: none;       /* remove underline from <a> */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btnlike:hover {
  background-color: #559bbd;
  transform: translateY(-2px);
}

.btnlike:active {
  transform: translateY(0);
}

.introPage h2, .introPageAA h2{
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
}

.introPage h3, .introPageAA h3 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
}

.maincontImpressum .introPage h2, .mainLogin .introPage h2, .centralboxConvert .introPage h2{
    padding: 1rem 0 0 0;
    background-color: var(--tertiary-color);
}
.maincontImpressum .introPage h3, .mainLogin .introPage h3 {
    padding-bottom: 1.5rem;
    background-color: var(--tertiary-color);
    margin-bottom: 3rem;
}

/* === Gallery === */
.maincontainerGal {
    background-color: var(--background-dark);
}

.maincentralGal {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.centralboxGallery, .centralboxWishcamera, .aadamsgallery {
    width: 100%;
    background: var(--background-dark);
    color: var(--background-light);
    text-align: center;
    padding: 1rem;
    /* text-align: center;   */
}

.centralboxWishcamera  {
    width: 100%;
    height: 100vh;
    background: var(--background-dark);
    color: var(--background-light);
    text-align: center;
    padding: 1rem;
    /* text-align: center;   */
}



.centralboxGallery h2, .centralboxWishcamera h2, .aadamsgallery h2 {
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

.fotobox {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
}

.gallerie {
    height: 35vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.arrows 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Pfeilen */
    margin-top: 20px; /* Abstand nach oben */
}
.prev, .next {
    font-size: 1rem;
    color: var(--background-dark);
    text-decoration: none;
    padding: 10px;
    background-color: var(--color-logo);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px 15px;
}

/* Wenn hover, mit schwarzen Hintergrund und ein bisschen durchscheinen */
.prev:hover,
.next:hover {
    background-color:var(--tertiary-color);
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--background-light);
    font-size: 12px;
    padding: 8px 12px;
    /*position: absolute;*/
    top: 0;
}

.introPageAA {
    width: 65vw;
    margin: auto;
}

.introPageAA p {
    font-size: 1.2rem;
}

.aagrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media(max-width: 834px) {
    .aagrid {
    grid-template-columns: 1fr;
    }
}

.aagrid div img {
    width: 35vw;
    max-height: 400px;
    object-fit: contain;
}

.aa-img {
    margin: 2rem 0 2rem 0;
}

.caption {
    margin: 1rem auto 0 auto;
    width: 50%;
}

.back-to-top {
    bottom: 20px;
    right: 20px;
    background-color: var(--background-dark);
    color: var(--background-light);
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

/* Hover-Effekt */
.back-to-top:hover {
    background-color: var(--tertiary-color);
    font-weight: bold;
}


/* === Dream camera === */

.maincontainerWish {
    background-color: #8CCFE3;
    display: flex;
    height: calc(100vh - 2.5rem - 90px);
    display: flex;
    justify-content: space-between;
}

.centralboxWishcamera h3 {
    font-size: 1.8rem;
    padding: 0.6rem 0 0.4rem 0;
    font-weight: normal;
}

.cameraText {
    width: 38vw;
    margin: auto;
    text-align: left;
}
.cameraText ol {
    padding-left: 1.2rem;  /* Abstand für Nummerierung */
    margin: 0;              /* reduziert unnötige Abstände */
}
cameraText ol ol {
    padding-left: 1.2rem;  /* eingerückte Unterliste */
    margin: 0;              /* kompakt */
}

.cameraText li {
    margin-bottom: 0.3rem; /* minimaler Abstand zwischen den Punkten */
}

/* === Login === */
.login-form {
    width: 500px;
    margin: 2.6rem auto;
    padding: 5rem;
    order: 2px solid var(--background-light);
    border-radius: 30px;
    background-color: var(--primary-color);
    font-size: 1.5rem;
}

/* Jede Gruppe von Label + Input */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

/* Label links, fester Breitenanteil */
.form-group label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}

/* Eingabefelder abgerundet */
.form-group input {
    flex: 1;
    padding: 0.7rem;
    border-radius: 10px;
    border: 2px solid #aaa;
    font-size: 1rem;
    background-color: var(--background-light);
}

.form-group input:hover {
    border: 2px solid var(--secondary-color);
}

/* Buttons Container */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/* Allgemeine Button-Styles */
.btn {
    padding: 0.6rem 1.2rem;
    margin-top: 1.6rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
}

/* Unterschiedliche Farben für Buttons */
.submit-btn {
    background-color: var(--color-logo); 
    color: var(--background-dark);
}

.create-btn {
    background-color: var(--background-light);
    color: var(--background-dark);
}

/* Hover-Effekte */
.submit-btn:hover {
     background-color: var(--tertiary-color);
     font-weight: bold;
}

.create-btn:hover {
    background-color: var(--primary-light-color);
    font-weight: bold;
}

/* === Number converter === */

.centralboxConvert .introPage h3{
    padding-bottom: 0.8rem;
    background-color: var(--tertiary-color);
    margin-bottom: 0.8rem;
}

.convertText p {
    width: 50vw;
    margin: auto;
    font-size: 1.3rem;
}

.converter-form {
    width: 400px;
    margin: 0.8rem auto;
    padding: 1.3rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 2px solid var(--background-light);
    font-size: 1.2rem;
}

.converter-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Form-Gruppen */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    width: 120px;
    margin-right: 10px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 0.4rem;
    border-radius: 10px;
    border: 2px solid var(--background-light);
    background-color: var(--background-light);
    font-size: 1.2rem;
    font-weight: bold;
}

/* Buttons */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--background-dark);
}

button#submitBtn {
    background-color: var(--color-logo);
}

button#resetBtn {
    background-color: var(--secondary-color);
}
button#submitBtn:hover {
     background-color: var(--tertiary-color);
}

button#resetBtn:hover {
    background-color: var(--secondary-dark-color);
}


/*Ausgabe */
#output {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}



/* === Mobile Version === */
/* war so:@media (max-width: 768px) */
@media (max-width: 834px) {
    .nav-left, .nav-right {
        display: none; /* werden ins Mobile-Menu ausgelagert */
    }

    .nav-logo {
        padding-left: 15vw;
    }

    .burger { 
        display: block; 
        justify-self: end; 
    }

    .introPage h2, .intro h2 {
        font-size: 2rem;
    }

    .introPage h3, .intro h3 {
        font-size: 1.5rem;
    }

    .intro p, .introPage p {
        font-size: 1rem;
    }
     .button-group a {
        display: block;
        margin: 0 auto 1rem auto;
    }
}